@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------------------------------------------
* Builtins
* ------------------------------------------------------------------------ */
input[type='checkbox']::before {
	content: '';
	width: 0.8em;
	height: 0.8em;
	transform: scale(0);
	transition: 80ms transform ease-in-out;
	box-shadow: inset 1em 1em rgb(var(--color-bright));
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:disabled::before {
	/*color: rgb(var(--color-backgroundBrightest));*/
	box-shadow: inset 1em 1em rgb(var(--color-backgroundBrightest));
}

input[type='checkbox']:checked::before {
	transform: scale(1);
}

/* --------------------------------------------------------------------------
* Theme
* ------------------------------------------------------------------------ */
:root {
	--col-null: 255 0 198;

	/* --------------------------------------------------------------------------
   * colour palette 
   * ------------------------------------------------------------------------ */

	/* main */
	--col-bg: var(--col-null);
	--col-bg-alt: var(--col-null);
	--col-fg: var(--col-null);
	--col-fg-alt: var(--col-null);

	/* base */
	--col-base0: var(--col-null);
	--col-base1: var(--col-null);
	--col-base2: var(--col-null);
	--col-base3: var(--col-null);
	--col-base4: var(--col-null);
	--col-base5: var(--col-null);
	--col-base6: var(--col-null);
	--col-base7: var(--col-null);
	--col-base8: var(--col-null);

	/* colours */
	--col-grey: var(--col-null);
	--col-red: var(--col-null);
	--col-orange: var(--col-null);
	--col-green: var(--col-null);
	--col-teal: var(--col-null);
	--col-yellow: var(--col-null);
	--col-blue: var(--col-null);
	--col-dark-blue: var(--col-null);
	--col-magenta: var(--col-null);
	--col-violet: var(--col-null);
	--col-cyan: var(--col-null);
	--col-dark-cyan: var(--col-null);

	/* --------------------------------------------------------------------------
   * Theme
   * ------------------------------------------------------------------------ */
	--col-text: var(--col-fg);

	--color-background: 46 52 64;
	--color-backgroundSubtle: 59 66 82;
	--color-backgroundBright: 67 76 94;
	--color-backgroundBrightest: 76 86 106;
	--color-fgDim: 216 222 233;
	--color-fg: 229 233 240;
	--color-fgBrightest: 236 239 244;
	--color-primary: 143 188 187;
	--color-bright: 136 192 208;
	--color-secondary: 129 161 193;
	--color-tertiary: 94 129 172;
	--color-error: 191 97 106;
	--color-warning: 235 203 139;
	--color-good: 163 190 140;
}

/* --------------------------------------------------------------------------
* Utils
* ------------------------------------------------------------------------ */

.debug {
	border: thin dotted coral;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

@layer components {
	.button {
	}

	.button-outline {
		@apply flex items-center rounded p-2 px-4 shadow-2xl outline-none;
	}

	.button-colors {
		@apply transition hover:brightness-125 active:brightness-150 disabled:cursor-not-allowed disabled:hover:brightness-100;
	}

	.button:focus {
		@apply ring ring-thmBright;
	}

	/* .button[data-error='true'] { */
	/* 	@apply text-thmError ring-1 ring-thmError; */
	/* } */
	.button[data-error='true'] {
		@apply bg-thmError text-thmFg;
	}

	.button[data-error='true']:focus {
		@apply ring;
	}

	.button[data-loading='true'] {
		@apply hue-rotate-90;
	}
	.button[data-success='true'] {
		@apply -hue-rotate-90;
	}

	/* input */
	.input {
		@apply rounded border border-thmBackgroundSubtle bg-thmBackgroundBright p-2 text-thmFg outline-none;
	}

	.input:focus {
		@apply ring ring-thmBright;
	}

	.input[data-error='true'] {
		@apply text-thmError ring-1 ring-thmError;
	}

	.input[data-error='true']:focus {
		@apply ring;
	}
}
